/* ---------------------------------
 *           Top Navigation
 * --------------------------------- */
.navbar.is-fixed-top {
    top: 0;
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top {
    z-index: 100;
}