body{
  //reference https://www.zpf23.cn/
  background: url(https://cdn.jsdelivr.net/gh/removeif/removeif-demo@master/img/background.png);
}

.night {
  .navbar, footer.footer, .card {
      background-color: #151313ad;
  }
}

@media screen and (max-width: 768px)
  .g-ads-x {
    display:block;
  }