/* ---------------------------------
 *            Page Footer
 * --------------------------------- */
.aplayer-narrow{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.aplayer-narrow:hover {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.aplayer{
    transition: all .5s ease-out;
}

.aplayer .aplayer-miniswitcher {
    background: white !important;
}